@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   font-size: 10px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
   margin: 0 15px;
   width: auto;
   height: auto;
}

.flex {
   display: flex;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.center {
   justify-content: center;
   align-items: center;
}

.justify-right {
   justify-content: end;
}

.justify-left {
   justify-content: start;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   
   background-image: url(./assets/imgs/background.png);
   backdrop-filter: brightness(70%);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}


.forms-container {
   width: 120rem;
   height: 70vh;
   box-sizing: content-box;
   padding: 1rem;

   background-color: rgba(24, 24, 26, 0.886);
   backdrop-filter: blur(0.3rem);
   box-shadow: 0 0 20px black;
   border-radius: 2rem;
}

.form-box {
   width: 50%;
   height: 100%;

   border-radius: 2rem;
   background-color: #2596be; 

   transition: background-color 0.2s ease-in-out;
}

.slide-right {
   animation: slide-right 0.5s ease-in-out forwards;
   background-color: #2596be;
}

.slide-left {
   animation: slide-left 0.5s ease-in-out forwards;
   background-color: #a53e2f;
}

@keyframes slide-right {
   0% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(100%);
   }
}

@keyframes slide-left {
   0% {
      transform: translateX(100%);
   }

   100% {
      transform: translateX(0%);
   } 
}

.form-box form.active {
   display: flex;
}

.form-box form {
   display: none;
   height: 100%;
   justify-content: start;
   padding: 4rem;
   gap: 2rem;

   h2 {
      font-size: 8rem;
      color: white;
      margin-bottom: 2rem;
   }

   input, select {
      border-color: rgba(0, 0, 0, 0.453);
      background-color: white;
      border-style: solid;
      border-radius: 1rem;
      width: 60%;
      padding: 2rem 0;
      padding-left: 1rem;
   }

   button {
      cursor: pointer;
      padding: 1rem 8rem;
      border-radius: 1rem;
      border: none;
      background-color: white;
      color: black;
   }

   button label{
      font-size: 2rem;
      font-weight: 600;
   }

   p {
      margin-top: auto;

      font-size: 1.5rem;
      color: white;
   }

   p a{
      color: black;
      font-weight: bold;
      text-decoration: none;
   }

   p a:hover {
      text-decoration: underline;
   }
}