@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   font-size: 10px;
   interpolate-size: allow-keywords;

   --bg-color: rgba(24, 24, 26, 0.886);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
   margin: 0 15px;
   width: auto;
   height: auto;
}

.flex {
   display: flex;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.center {
   justify-content: center;
   align-items: center;
}

.justify-right {
   justify-content: end;
}

.justify-left {
   justify-content: start;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   
   background-image: url(./assets/imgs/background.png);
   backdrop-filter: brightness(70%);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

body.main-body {
}

.main-body main {
   display: flex;
   box-sizing: border-box;
   justify-content: center;
   margin: 1rem;
   flex: 1;
   width: 99%;
   height: 100%;
   background-color: var(--bg-color);
   border-radius: 2rem;

   section {
      display: flex;
      flex-direction: column;
      color: white;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      h1 {
         font-size: 5rem;
      }
   }
}

header {
   display: flex;
   position: sticky;
   justify-self: start;

   width: 100%;
   height: auto;
   padding: 2rem;
   top: 0;

   background-color: rgb(16, 16, 19);
   
   z-index: 99;
   
   h1 a {
      text-decoration: none;
      color: white;
   }
}

.alert-message {
   font-size: 2rem;
   color: black;
   margin: 0;
}

.forms-container {
   width: min(95%, 120rem);
   height: auto;
   box-sizing: content-box;
   padding: 1rem;

   background-color: var(--bg-color);
   backdrop-filter: blur(0.3rem);
   box-shadow: 0 0 20px black;
   border-radius: 2rem;

   transition: height 0.2s ease-in-out;
}

.form-box {
   width: 50%;
   height: 100%;

   border-radius: 2rem;
   background-color: #a53e2f; 

   transition: background-color 0.2s ease-in-out;
   transition: height 0.2s ease-in-out;
}

.slide-right {
   animation: slide-right 0.5s ease-in-out forwards;
   background-color: #2596be;
}

.slide-left {
   animation: slide-left 0.5s ease-in-out forwards;
   background-color: #a53e2f;
}

@keyframes slide-right {
   0% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(100%);
   }
}

@keyframes slide-left {
   0% {
      transform: translateX(100%);
   }

   100% {
      transform: translateX(0%);
   } 
}

.form-box form.active {
   display: flex;
}

.form-box form {
   display: none;
   height: fit-content;
   justify-content: start;
   padding: 4rem;
   gap: 2rem;

   h2 {
      font-size: clamp(5rem, 10vw,8rem);
      color: white;
      margin-bottom: 2rem;
   }

   input, select {
      border-color: rgba(0, 0, 0, 0.453);
      background-color: white;
      border-style: solid;
      border-radius: 1rem;
      width: min(90%, 40rem);
      padding: clamp(1rem, 20%, 2rem) 0;
      padding-left: 1rem;
   }

   button {
      cursor: pointer;
      width: max(15rem, 50%);
      height: 5rem;
      border-radius: 1rem;
      border: none;
      background-color: white;
      color: black;
   }

   button label{
      width: 100%;
      font-size: 2rem;
      font-weight: 600;
   }

   p {
      margin-top: auto;

      font-size: 1.5rem;
      color: white;
   }

   p a{
      color: black;
      font-weight: bold;
      text-decoration: none;
   }

   p a:hover {
      text-decoration: underline;
   }
}

@media(max-width: 700px) {
   .forms-container {
      width: 80%;
   }

   .form-box {
      width: 100%;
      justify-content: center;
   }

   .form-box form{
      input, select {
         width: 99.9%;
      } 
   }

   .slide-left {
      animation: none;
   }

   .slide-right {
      animation: none;
   }
}

@media(max-width: 600px) {
   .forms-container {
      width: 90%;
   }

   .form-box {
      width: 100%;
      justify-content: center;
   }

   .form-box form{
      input, select {
         width: 99.9%;
      } 
   }

   .slide-left {
      animation: none;
   }

   .slide-right {
      animation: none;
   }
}

@media(max-width: 500px) {
   .forms-container {
      width: 98%;
   }

   .form-box {
      width: 100%;
      justify-content: center;
   }

   .form-box form{
      input, select {
         width: 99.9%;
      } 
   }

   .slide-left {
      animation: none;
   }

   .slide-right {
      animation: none;
   }
}